* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  border: 3.5px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 95%;
  margin: auto;
}

.hidden {
  display: none !important;
}

.date-div {
  width: 95%;
  margin: 10px auto 0;
  display: flex;
  justify-content: flex-end;
}

.menu {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-right: 20px;
}

.menu li {
  cursor: pointer;
}

.active {
  color: #448dee;
  font-weight: bold;
}

.logo {
  margin-left: 20px;
}

.main-section {
  margin: auto;
}

section {
  padding-top: 40px;
}

.books {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

.books h1 {
  display: inline-block;
  margin: 0 auto;
}

.book-list button {
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

form h2 {
  margin-bottom: 20px;
}

form input {
  padding: 5px;
  width: 100%;
  border: 2px solid #ccc;
}

form input[type='submit'] {
  width: unset;
  align-self: flex-end !important;
  box-shadow: 1px 1px 2px 2px #ccc;
}

.form-add:hover {
  background-color: #ccc;
}

.book-list {
  list-style: none;
  border: 3px solid #ccc;
  width: 95%;
}

.book-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-list li:nth-of-type(odd) {
  background-color: #eee;
}

.book-list li button {
  margin: 0 10px;
  box-shadow: 1px 1px 1px 1px #ccc;
  padding: 0 5px;
}

.book-list li div {
  padding: 5px;
}

.horizontal-line {
  width: 50%;
  margin: 30px auto;
}

/* Contact */
.contact-section {
  display: grid;
  place-items: center;
  gap: 15px;
}

.contact-section h6 {
  margin-left: 15px;
  font-size: 100%;
  font-weight: 300;
}

.contact-info {
  margin: 15px 0 0 50px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
}

footer span {
  position: absolute;
  bottom: 0;
  width: 95%;
  border: 3.5px solid #ccc;
  padding: 10px;
}
